.mail-details{
    min-width: 350px;
    width: 100%;
}

.mail-details .actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mail-details .actions .fa-solid.fa-chevron-left{
    margin-left: 20px;
}

.mail-details .actions .nav-page{
    display: flex;
    align-items: center;

}
.mail-details .actions button{
    cursor: pointer;
    font-size: 1.3rem;
    background-color: rgba(0, 255, 255, 0);
    border: none;
}

.mail-details .subject{
    font-size: 1.6rem;
    margin: 15px;
}
.mail-details .mail-header{
    display: flex;
    justify-content: space-between;
}


.mail-details .fa-user {
    font-size: 40px;
}
.mail-details .user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light-gray);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.mail-details .addressee{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 15px;
}
