.nav-bar{
    width: 200px;
    font-size: 1.1rem;
    margin-right: 200px;
}
.nav-bar li{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.nav-bar li:hover{
    background-color: rgba(235, 235, 235, 0.938);
    border-radius: 0 50px 50px 0;

}

.nav-bar li.active{
    color: azure;
    background-color: var(--clr-pink);
    border-radius: 0 50px 50px 0;
}

.nav-bar .fa-solid.fa-plus{
    color: var(--clr-pink);
}
.nav-bar .compose{
    border-radius: 20px;
    padding: 10px;
    font-size: 1.4rem;
    border: 1px solid black;
}