.search-bar{
    padding: 5px;
    display: flex;
    /* line-gap-override: 25px; */
    /* border: 1px solid black; */
}

.search-bar .search{
    background-color: var(--clr-white);
    padding: 20px;
    border: none;
    border-radius: 9px 0 0 9px;
    outline: none;
    min-width: 500px;
    font-size: 1.1rem;
}

.search-bar select{
    margin-right: 30px;
    font-size: 1.1rem;
    padding: 19.1px;
    border: none;
    outline: none;
    border-radius: 0 9px 9px 0;
    background-color: var(--clr-white);

    
}

.search-bar i{
    font-size: 35px;
    margin-right: 10px;
}

.search-bar .pink{
    color: var( --clr-pink);
    
}







