.book-app, .book-details, .book-add {
    background-color: var(--clr-light-gray2);
}

.green {
    color: green;
}

.red {
    color: red;
}


.book-filter input[type="number"] {
    width: 60px
}

.review-add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    color: white;
}

.review-add form {
    gap: 10px;
}

.review-add form >*:not(textarea) {
    align-self: baseline;
}