.fade-enter-from {
    opacity: 1;
}

.fade-enter-to {
   opacity: 0;
}

.fade-enter-active {
    transition: all 0.5s ease-in;
}

.fade-leave-from {
    opacity: 1;
}

.fade-leave-to {
    opacity: 0;
}

.fade-leave-active {
    transition: all 0.5 ease-in-out;
}