/* mobile only */
@media (max-width:580px){

}
    /* small */
@media (min-width:580px) {

}

/* MEDIUM */
@media (min-width: 830px){

}


/* LARGE */
@media (min-width:1225px) {
    .mail-list table{
        width: 200px;
        table-layout: auto;
    }
    /* .mail-list table  .checkbox-col {
        width: 5%;
    }
    .mail-list table  .star-col {
        width: 5%;
    }
    .mail-list table  .from-col {
        width: 10%;
    }
    .mail-list table  .subject-col {
        display: inline-block;
        
        width: 100%;
    } */
    .mail-list table  .body-col {
        display: block;
        overflow: hidden;
        /* white-space: nowrap;  */
        text-overflow: ellipsis; 
        
        display: inline-block;
        width: 100%;
    }
    /* .mail-list table  .time-col {
        width: 15%;
    }
    .ellipsis{
        display: inline-block;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 80%;
    } */
}