.app-footer {
    height: 10vh;
}

.app-footer h3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: cairo;
    font-weight: bold;
    font-size: 1.5rem;
}

.app-footer h3 span i {
    color: red;
}