* {
    box-sizing: border-box;
}

html {
    font-family: rubik;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: rubik-title;
}

.main-layout {
    max-width: 1400px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}
  ::-webkit-scrollbar-thumb {
    background: var(--clr-pink);
    border-radius: 10px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ce086b
}
